* {
    box-sizing: border-box;
    font-family: Trebuchet, Arial, sans-serif;
}

html{
    background-color: #ffe6b9;
}

.title-box{
    background-color: #ffd587;
    border-radius: 25px;
    margin: 50px auto;
    padding: 20px;
    width: 800px;
}

.title-text{
    font-size: 40px;
    text-align: center;
}

.homepage-list{
    font-size: 30px;
}

.homepage-list{
    list-style: none;
    padding-left: 0px;
}

.homepage-list li{
    background-color: #ffe6b9;
    border: 2px solid #8b600f;
    border-radius: 10px;
    margin: 10px auto;
    padding: 20px;
    text-align: center;
    width: 250px;
}
.homepage-list img{
    height: auto;
    width: 206px;
}